@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F0F0F0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #fff;
}

.contact-a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #000;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.2s;
}

.contact-a:hover {
    color: #8E6339;
    border-color: #8E6339;
}

.navbar a {
      display: inline-block;  
      font-size: 18px;
      color: #000;
      text-decoration: none;
      font-weight: 500;
      margin: 0px 20px;
      transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #8E6339;
}

.home {
    position: relative;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #000;
}

.home-content h3 {
    font-size: 40px;
    color: #8E6339;
    animation-delay: 1.3s;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
    color: #000;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: #8E6339;
    border: 2px solid #8E6339;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #8E6339;
}

.home-img {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhomebus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhomebus img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

.box-full{
   background-color: #8E6339;
   width: 280px;
   height: 280px;
   border-radius: 20px;
   z-index: -1;
   position: relative;
   left: 220px;
   top: 80px;
}

.box-outline{
    background-color: transparent;
    border: 5px solid #8E6339;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    z-index: -2;
    position: relative;
    right: 240px;
    bottom: 70px;
 }
 

.bottom-bar {
    background-color: #fff;
    width: 100%;
    height: 35px;
}